@use "fn";
@use "vars";
@use "sass:color";

@mixin light-border() {
  border-bottom: 1px solid vars.$fgLight;
}

@mixin section-padding() {
  padding: 100px 0;

  @media screen and (max-width: 768px) {
    padding: 50px 16px;
  }
}

@mixin section-title() {
  font-size: fn.p2r(36px);
  margin-bottom: fn.p2r(32px);
  @include light-border;

  @media screen and (max-width: 768px) {
    font-size: fn.p2r(18px);
    margin-bottom: fn.p2r(24px);
  }
}

@mixin button() {
  background-color: vars.$bgButton;
  color: vars.$bgLight;
  font-size: fn.p2r(18px);
  padding: fn.p2r(12px);
  border: none;
  border-radius: fn.p2r(6px);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: color.adjust(vars.$bgButton, $lightness: 5%);
    color: vars.$fgBright;
  }
}
