// Fonts
$fontBase: 'Roboto', sans-serif;
$fontTitle: 'Josefina Sans', sans-serif;

// Colors
$fgBright: #fff;
$fgLight: silver;
$fgMedium: #4b4b4b;
$fgDark: #252525;
$bgBright: #fff;
$bgLight: #eee;
$bgDark: #252525;
$bgBlack: #000;
$bgButton: #485460;
$bgIcon: #1e272e;