@use "/scss/config/fn.scss";
@use "/scss/config/mxn.scss";

.about-us {
  @include mxn.section-padding;

  &__title {
    @include mxn.section-title;

    &__text {
      &__icon {
        margin-right: 16px;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: fn.p2r(32px);
    }

    &__text {
      width: 50%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      ul {
        margin-bottom: fn.p2r(18px);
        margin-left: fn.p2r(20px);
      }
    }

    &__image {
      width: 48%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
